.card_wrapper {
	margin-left: 250px;
	margin-top: 20px;
	max-height: 275px;
	width: 60%;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
.card-top {
	text-align: center;
	margin-left: 70px;
	align-items: center;
}
.done_Icon {
	color: rgb(118, 196, 118);
	margin-right:10px;
	font-size:300px;
}
.card_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
