.card_wrapper {
	margin: 20px;
	max-height: 275px;
	max-width: 275px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.card-top {
	text-align: center;
	margin-left: 10px;

	display: flex;
	flex-direction: row;
}
.input_edit {
	margin: 10px;
}
.edit_Icon {
	color: rgb(118, 196, 118);
}
.delete_Icon {
	color: rgb(240, 114, 114);
}
